src/main/resources/wsdl/Jms_weblogic_camel.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.poc.org/Jms_weblogic_camel/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Jms_weblogic_camel"
	targetNamespace="http://www.poc.org/Jms_weblogic_camel/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.poc.org/Jms_weblogic_camel/">			<xsd:element name="Consultar" type="tns:PessoaFisica"></xsd:element>			<xsd:element name="ConsultarResponse" type="xsd:string"></xsd:element>
		
			<xsd:complexType name="PessoaFisica">
				<xsd:sequence>
					<xsd:element name="idStelo" type="xsd:string"></xsd:element>
					<xsd:element name="cpf" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ConsultarRequest">
		<wsdl:part element="tns:Consultar" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ConsultarResponse">
		<wsdl:part element="tns:ConsultarResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="Jms_weblogic_camel">
		<wsdl:operation name="Consultar">
			<wsdl:input message="tns:ConsultarRequest" />
			<wsdl:output message="tns:ConsultarResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="Jms_weblogic_camelSOAP" type="tns:Jms_weblogic_camel">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Consultar">
			<soap:operation soapAction="http://www.poc.org/Jms_weblogic_camel/Consultar" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="Jms_weblogic_camel">
		<wsdl:port binding="tns:Jms_weblogic_camelSOAP" name="Jms_weblogic_camelSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
